.compras
{
    background-color: orangered;
    height: 10%;
    width: 55%;
    padding: 2% 4% 2% 4%;
    margin-left: 25%;
    margin-top: 15%;
    
}

.default{
    background-color: orangered;
    height: 10%;
    width: 60%;
    padding: 4% 4% 4% 4%;
    margin: 20% 20% 20% 20%;

}
.send{
    color:black;
    background-color: orange;
    padding: 12px 12px;
    margin-top: 4%;
    font-weight: 750;
    border: none;

}

h1{
    color: white;
}

.sites{
    background-color: orangered;
    width: 90%;
    padding: 2% 2% 6% 2%;
    
}

.links{
    display: flex;
    justify-content:space-around;

}

.button{
    background-color: blue ;
    color: white;
    padding: 2% 2% 2% 2%;
    
        
}
